body {
}

/* NAVIGATION */

nav {
  background-color: rgba(24, 21, 23, 0.73);
}
.nav {
  padding: 10px;
}
.nav-header {
  padding-right: 600px;
  color: #f5ff90;
}

a {
  color: #fff;
  font-size: 18px;
}
a:link {
  color: #f5ff90;
}
a:visited {
  color: #f5ff90;
}
a:hover {
  color: #939956;
}
a:active {
  color: #939956;
}

/* HERO SECTION */

.jumbotron-fluid {
  background-image: url(/Images/stacked-steps-haikei.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.container {
  display: flex;
  gap: 50%;
  /* change gap to auto for smaller screens */
}

img {
  scale: 1.5;
}
